#auth{
  margin: auto;
  width: 330px;

  label{
    font-size: 15pt;
  }

  form > div{
    margin: 5px 0;
  }

  .btn-primary{
    color: #fff;
    background-color: #77b427;
    border-color: #5f9725;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: #88cd2b;
    border-color: #77b427;
  }
}