#footer{
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}
#footer{
  font-style: italic;
  color: #4e524d;

  .course-name{
    width: 100%;
    text-align: center;

    .course-theme{
      color: black;
    }
  }

  .course-student{
    width: 100%;
    text-align: center;
  }

  .container > span{
    float: left;
  }
}