html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#home {
  min-height: 100%;
  margin-bottom: -70px;
}
#wrapper{
  margin-bottom: 30px;
}
.buffer {
  height: 70px;
}

.error-message{
  list-style: none;
  padding-left: 20px;
  background-color: #ffe5e5;
  border: 1px solid #ffcdca;
  border-radius: 10px;
}